body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f9; */
    margin: 0;
    padding: 0;
    background: radial-gradient(
        farthest-corner at 60px 10px,
        white 0%,
        rgba(249,253,228,1) 100%
      );
}


.faq-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}  

.faq-section h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    cursor: pointer;
}

.faq-answer {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    padding-left: 20px;
}

.faq-answer p {
    margin: 0;
}

details[open] .faq-question {
    color: #0056b3;
}
.navbar{
    height: 100px;
    background-color: #FFFFFF;
    padding: 20px clamp(1rem,10vw,10rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
    .sections{
        display: flex;
        align-items: center;
        gap: clamp(10px,5vw,10rem);
    }
.logo{
    background-image: url(../images/bank_logo-shivam.png);
    background-size: cover;
    height: 70px;
    width: 80px;
    
}
.login-register{
    /* background-color: #21d0b3; */
    width: 140px;
    height: 50px;
    /* background-color: #21d0b3; */
    background-color: #0A9EF1;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .login-register:hover{
    text-decoration: underline;
} */
.home:hover{
    text-decoration: underline;
}
.FAQ:hover{
    text-decoration: underline;
}
.about-us:hover{
    text-decoration: underline;
}
.contact-us:hover{
    text-decoration: underline;
}